@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

.container-input > label{
    display: flex;
    text-align: start;
    margin: 0 0 2px 12px;

}

html, body, .wrapper{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image:url("src/assets/bg-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
    color: #000;
    animation: rotate 4s infinite alternate linear;
}

.calc-card{
    position: relative;
    z-index: 3;
    width: 320px;
    margin: 0 auto;
    padding: 15px 30px 44px;
    border-radius: 1.25rem;
    background: white;
    text-align: center;
    height: 610px;
}

.calc-card > h2{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 3px;
}

.container-label{
    display: flex;
    margin-bottom: -15px;
    margin-top: -10px;
    justify-content: space-between;
}

.container-label .label-año{
    margin-left: 30px;
}

.container-label .label-mes{
    margin-left:5px;
}

.container-label .label-dia{
    margin-right: 57px;
}

.calc-card > h3{
    color: rgba(0, 0, 0, 0.575);
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 1rem;
}
.input-container > input{
    width: 62px;
    height: 25px;
    border-radius: 1.25rem;
    border: 2px solid #bebebe;
    font-size: 15px;
    padding: 0px 5.5px;
    transition: all 0.375s;
    font-family: inherit;
    margin: 0 10px 0 0px;
}

.input-container >input:hover{
    border: 2px solid #10449A;
}

.calculadora-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}


.container-input > input{
    width: 100%;
    height: 30px;

}

.calculadora-form > button{
    width: 100%;
    height: 45px;

}

.container-input > input{
    border: 2px solid #bebebe;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}

.container-input > input:hover{
    border: 2px solid #10449A;
}

.calculadora-form > button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #10449A;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.calculadora-form > button:hover{
    background: #216ce7;
}

.calculadora-form > label{
    text-align: center;
    color: rgba(0, 0, 0, 0.575);
    font-size: 1rem;
}

@keyframes rotate{
    100%{
        background-position: 15% 70%;
    }
}

@media (max-width: 500px) {
    body {
        padding: 0;
    }
    .calc-card {
        margin: 0;
        width: 90%; /* Ajusta el ancho del formulario para dispositivos móviles */
    }
    .calculadora-form > input, .calculadora-form > button {
        height: 40px; /* Ajusta la altura de los elementos de entrada y botón */
    }
    .calculadora-form > h2 {
        font-size: 24px; /* Reduce el tamaño del encabezado para dispositivos móviles */
    }
}

.container-fecha > label{
    font-size: 14px;
    color: #000;
}

.container-fecha >  input{
    margin: 0 8px 0 8px;
    border-radius: 1rem;
    border: 2px solid #bebebe;
    text-align: center;
    color: #8d8c8c;
    width: 80px;
    height: 22px;
    font-size: 10px;
}

.container-fecha > input:hover{
    border: 2px solid #10449A;
}


.container-total > input {
    margin-top: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 1rem;
    border: 2px solid #bebebe;
    width: 100%;
    height: 35px;
}

.container-infi > label{
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    padding:0 10px;
    color: #000;
}

.calc-card > .button-regresar{
    position: absolute;
    margin-top: 10px;
    margin-left: 0px;

}

.calc-card > .button-regresar > button {
    font-size: 25px;
    color: #10449A;
}