@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}


html, body, .wrapper{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image:url("src/assets/bg-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
    color: #000;
    animation: rotate 4s infinite alternate linear;
}

.login-card{
    position: relative;
    z-index: 3;
    width: 300px;
    margin: 0 auto;
    padding: 15px 30px 44px;
    border-radius: 1.25rem;
    background: white;
    text-align: center;
    height: 560px;
}

.login-card > h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 5px;
}

.login-card > h3{
    color: rgba(0, 0, 0, 0.575);
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 1rem;
}
.input-container > input{
    width: 62px;
    height: 28px;
    border-radius: 1.25rem;
    border: 2px solid #bebebe;
    font-size: 15px;
    padding: 0px 5.5px;
    transition: all 0.375s;
    font-family: inherit;
    margin: 0 10px 0 0px;
}

.input-container >input:hover{
    border: 2px solid #10449A;
}
.login-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form > input, .login-form > button{
    width: 100%;
    height: 50px;

}

.login-form > input{
    border: 2px solid #bebebe;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}

.login-form > input:hover{
    border: 2px solid #10449A;
}

.login-form > button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #10449A;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.login-form > button:hover{
    background: #216ce7;
}

label{
    color: rgba(0, 0, 0, 0.575);
    font-size: 1rem;
}

@keyframes rotate{
    100%{
        background-position: 15% 70%;
    }
}

@media (max-width: 500px) {
    body {
        padding: 0;
    }
    .login-card {
        margin: 0;
        width: 90%; /* Ajusta el ancho del formulario para dispositivos m칩viles */
    }
    .login-form > input, .login-form > button {
        height: 40px; /* Ajusta la altura de los elementos de entrada y bot칩n */
    }
    .login-form > h2 {
        font-size: 24px; /* Reduce el tama침o del encabezado para dispositivos m칩viles */
    }
}

.container-fecha > label{
    font-size: 14px;
    color: #000;
}

.container-fecha >  input{
    margin: 0 8px 0 8px;
    border-radius: 1rem;
    border: 2px solid #bebebe;
    text-align: center;
    color: #8d8c8c;
    width: 80px;
    height: 28px;
    font-size: 10px;
}

.container-fecha > input:hover{
    border: 2px solid #10449A;
}


.container-total > input {
    margin-top: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 1rem;
    border: 2px solid #bebebe;
    width: 100%;
    height: 45px;
}

.container-infi > label{
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    padding:0 10px;
    color: #000;
}